
@media (max-width: 2100px){

    body{
    background-image: url('../images/fondo\ bolha.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position:top;
        }
         }
@media (max-width: 2000px){

body{
background-image: url('../images/fondo\ bolha.png');
background-repeat: no-repeat;
background-size: 45%;
background-position:top;
    }
     }

@media (max-width: 1900px){

body{
background-image: url('../images/fondo\ bolha.png');
background-repeat: no-repeat;
background-size: 50%;
background-position:top;
    }
     }
 
 @media (max-width: 1800px){

 body{
            
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 51%;
 background-position:top;
    }
     }
 
 @media (max-width: 1700px){

 body{
                
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 56%;
 background-position:top;
     }
     }
 @media (max-width: 1500px){

  body{
                    
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 63%;
 background-position:top;
     }
     }
 
 @media (max-width: 1400px){

 body{
                        
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 69%;
 background-position:top;
     }
     }
 
 @media (max-width: 1300px){

 body{
                            
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 75%;
 background-position:top;
     }
     }
 @media (max-width: 1200px){

 body{
                                
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 80%;
 background-position:top;
     }
     }
 @media (max-width: 1100px){

 body{
                                    
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 89%;
 background-position:top;
     }
     }
 
     @media (max-width: 1050px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 94%;
        background-position:top;
             }
           }
 
 @media (max-width: 1000px){

 body{
                                        
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 94%;
 background-position:top;
      }
    }

@media (max-width: 950px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 50% top ;
        margin-inline: -30px;
        
             }
    }

 @media (max-width: 900px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: 10% top ;
        margin-inline: -30px;
        
             }
    }


@media (max-width: 850px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 140%;
        
        background-position: -120px top;
       
             }
}

 @media (max-width: 800px){

                body{
                                                       
                background-image: url('../images/fondo\ bolha.png');
                background-repeat: no-repeat;
                background-size: 140%;
                
                background-position: -100px top;
               
                     }
    }

 @media (max-width: 750px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 150%;
        background-position:-100px top;
        
             }
}



    @media (max-width: 700px){

                        body{
                                                               
                        background-image: url('../images/fondo\ bolha.png');
                        background-repeat: no-repeat;
                        background-size: 150%;
                        background-position:-70px top;
                        
                             }
    }

@media (max-width: 650px){

        body{
                                               
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 180%;
        background-position:-110px top;
       
             }
}
@media (max-width: 600px){

                                body{
                                                                       
                                background-image: url('../images/fondo\ bolha.png');
                                background-repeat: no-repeat;
                                background-size: 180%;
                                background-position:-80px top;
                               
                                     }
    }
 
    @media (max-width: 550px){

        body{
                                                                                      
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 240%;
        background-position:-190px top;
                                              
               }
           }
               
@media (max-width: 500px){

 body{
                                                                               
 background-image: url('../images/fondo\ bolha.png');
 background-repeat: no-repeat;
 background-size: 240%;
 background-position:-120px top;
                                       
        }
    }
    
@media (max-width: 450px){

        body{
                                                                                      
        background-image: url('../images/fondo\ bolha.png');
        background-repeat: no-repeat;
        background-size: 280%;
        background-position:-140px top;
                                              
               }
}
@media (max-width: 400px){

            body{
                                                                                          
            background-image: url('../images/fondo\ bolha.png');
            background-repeat: no-repeat;
            background-size: 280%;
            background-position:-70px top;
                                                  
                   }
    }
@media (max-width: 300px){

            body{
                                                                                          
            background-image: url('../images/fondo\ bolha.png');
            background-repeat: no-repeat;
            background-size: 400%;
            background-position:-120px top;
                                                  
                   }
    }