




@media(max-width:900px){
 
    h1 {

font-size:150px !important;
margin-left: -50px;
    }  

    h2 {

        font-size:58px !important;
        margin-left: -50px;
            }  
        
p#fran{
    font-size:50px !important;
    margin-left: -70px;
    white-space: nowrap;
}
h3{
    font-size:30px !important;
    margin-left: -15px;
    white-space: nowrap;
}



    #corpo{

margin-inline: 240px;


}
#folha{

margin-inline: 270px;
}


    img#folha{
  width: 800px !important;
  margin-inline: -240px !important;

  
}

img#botao1{
    margin-top: -65px;
    
    margin-inline: 0px !important;
    width: 350px !important;
   
   
}
#alfa{
    margin-top: -30px;
    font-size: 30px;
    margin-inline: 90px;
}


img#botao2{
    margin-top: 55px;
    margin-inline: 0px !important;
    width: 350px !important;
   

}
p#reforco{
    font-size:30px;
   white-space: nowrap;
    margin-inline: 70px;
    margin-top: 100px
}

img#botao3{
    margin-top: 190px;
    margin-inline: 0px !important;
    width: 350px !important;
   


}
#fundamental{
    font-size: 30px;
    margin-left: 90px;
    margin-top: 230px;
   
     white-space: nowrap;
}


img#botao4{
    margin-top: 330px;
    margin-inline: -95px !important;
    width: 550px !important;
}

#aba{
    font-size: 30px;
    margin-top: 360px;
    margin-left: -30px;
    white-space:nowrap;

}
img#botao5{

    margin-top: 460px;
    margin-left: 0px;
}


}




@media(max-width:800px){
 
    h1 {

        font-size:150px !important;
        margin-left: -50px;
            }  
        
            h2 {
        
                font-size:58px !important;
                margin-left: -50px;
                    }  
                
        p#fran{
            font-size:50px !important;
            margin-left: -70px;
            white-space: nowrap;
        }
        h3{
            font-size:30px !important;
            margin-left: -15px;
            white-space: nowrap;
        }
        
        
        
            #corpo{
        
        margin-inline: 240px;
        
        
        }
        #folha{
        
        margin-inline: 270px;
        }
        
        
            img#folha{
          width: 800px !important;
          margin-inline: -240px !important;
        
          
        }
        
        img#botao1{
            margin-top: -65px;
            
            margin-inline: 0px !important;
            width: 350px !important;
           
           
        }
        #alfa{
            margin-top: -30px;
            font-size: 30px;
            margin-inline: 90px;
        }
        
        
        img#botao2{
            margin-top: 55px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        }
        p#reforco{
            font-size:30px;
           white-space: nowrap;
            margin-inline: 70px;
            margin-top: 100px
        }
        
        img#botao3{
            margin-top: 190px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        
        }
        #fundamental{
            font-size: 30px;
            margin-left: 90px;
            margin-top: 230px;
           
             white-space: nowrap;
        }
        
        
        img#botao4{
            margin-top: 330px;
            margin-inline: -95px !important;
            width: 550px !important;
        }
        
        #aba{
            font-size: 30px;
            margin-top: 360px;
            margin-left: -30px;
            white-space:nowrap;
        
        }
        img#botao5{
        
            margin-top: 460px;
            margin-left: 0px;
        }

}


@media(max-width:700px){
 
    h1 {

font-size:150px !important;
margin-left: -50px;
    }  

    h2 {

        font-size:58px !important;
        margin-left: -50px;
            }  
        
p#fran{
    font-size:50px !important;
    margin-left: -70px;
    white-space: nowrap;
}
h3{
    font-size:30px !important;
    margin-left: -15px;
    white-space: nowrap;
}



    #corpo{

margin-inline: 250px;


}
#folha{
    margin-inline: 280px;
}






    img#folha{
  width: 800px !important;
  margin-inline: -240px !important;
}

img#botao1{
    margin-top: -65px;
    
    margin-inline: 0px !important;
    width: 350px !important;
   
}
#alfa{
    margin-top: -30px;
    font-size: 30px;
    margin-inline: 90px;
}

img#botao2{
    margin-top: 55px;
    margin-inline: 0px !important;
    width: 350px !important;
   

}
p#reforco{
    font-size:30px;
   white-space: nowrap;
    margin-inline: 70px;
    margin-top: 100px
}

img#botao3{
    margin-top: 190px;
    margin-inline: 0px !important;
    width: 350px !important;
   


}

#fundamental{
    font-size: 30px;
    margin-left: 90px;
    margin-top: 230px;
   
     white-space: nowrap;
}

img#botao4{
    margin-top: 330px;
    margin-inline: -95px !important;
    width: 550px !important;
}

 


#aba{
    font-size: 30px;
    margin-top: 360px;
    margin-left: -30px;
    white-space:nowrap;

}

img#botao5{

    margin-top: 460px;
    margin-left: 0px;
}



}





@media(max-width:600px){
 
    h1 {

        font-size:150px !important;
        margin-left: -50px;
            }  
        
            h2 {
        
                font-size:58px !important;
                margin-left: -50px;
                    }  
                
        p#fran{
            font-size:50px !important;
            margin-left: -70px;
            white-space: nowrap;
        }
        h3{
            font-size:30px !important;
            margin-left: -15px;
            white-space: nowrap;
        }
        
        
        
            #corpo{
        
        margin-inline: 240px;
        
        
        }
        #folha{
        
        margin-inline: 270px;
        }
        
        
            img#folha{
          width: 800px !important;
          margin-inline: -240px !important;
        
          
        }
        
        img#botao1{
            margin-top: -65px;
            
            margin-inline: 0px !important;
            width: 350px !important;
           
           
        }
        #alfa{
            margin-top: -30px;
            font-size: 30px;
            margin-inline: 90px;
        }
        
        
        img#botao2{
            margin-top: 55px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        }
        p#reforco{
            font-size:30px;
           white-space: nowrap;
            margin-inline: 70px;
            margin-top: 100px
        }
        
        img#botao3{
            margin-top: 190px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        
        }
        #fundamental{
            font-size: 30px;
            margin-left: 90px;
            margin-top: 230px;
           
             white-space: nowrap;
        }
        
        
        img#botao4{
            margin-top: 330px;
            margin-inline: -95px !important;
            width: 550px !important;
        }
        
        #aba{
            font-size: 30px;
            margin-top: 360px;
            margin-left: -30px;
            white-space:nowrap;
        
        }
        img#botao5{
        
            margin-top: 460px;
            margin-left: 0px;
        }



}
@media(max-width:500px){
 
    h1 {

        font-size:150px !important;
        margin-left: -50px;
            }  
        
            h2 {
        
                font-size:58px !important;
                margin-left: -50px;
                    }  
                
        p#fran{
            font-size:50px !important;
            margin-left: -70px;
            white-space: nowrap;
        }
        h3{
            font-size:30px !important;
            margin-left: -15px;
            white-space: nowrap;
        }
        
        
        
            #corpo{
        
        margin-inline: 240px;
        
        
        }
        #folha{
        
        margin-inline: 270px;
        }
        
        
            img#folha{
          width: 800px !important;
          margin-inline: -240px !important;
        
          
        }
        
        img#botao1{
            margin-top: -65px;
            
            margin-inline: 0px !important;
            width: 350px !important;
           
           
        }
        #alfa{
            margin-top: -30px;
            font-size: 30px;
            margin-inline: 90px;
        }
        
        
        img#botao2{
            margin-top: 55px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        }
        p#reforco{
            font-size:30px;
           white-space: nowrap;
            margin-inline: 70px;
            margin-top: 100px
        }
        
        img#botao3{
            margin-top: 190px;
            margin-inline: 0px !important;
            width: 350px !important;
           
        
        
        }
        #fundamental{
            font-size: 30px;
            margin-left: 90px;
            margin-top: 230px;
           
             white-space: nowrap;
        }
        
        
        img#botao4{
            margin-top: 330px;
            margin-inline: -95px !important;
            width: 550px !important;
        }
        
        #aba{
            font-size: 30px;
            margin-top: 360px;
            margin-left: -30px;
            white-space:nowrap;
        
        }
        img#botao5{
        
            margin-top: 460px;
            margin-left: 0px;
        }





